<mat-toolbar class="header mat-elevation-z4">
    <span class="title-group">
        <a routerLink="/"> 
            <span class="title">
                Stock Exchange Manager
            </span>
        </a>
    </span>
    <span>
        <a href="https://www.bb.com.br/pbb/pagina-inicial/compra-e-venda-de-acoes/home-broker/" target="_blank">
            <img class="logo" src="assets/img/banco-do-brasil-logo.png" alt="logo">
        </a>
    </span>
    <!-- <span>
        <a href="https://www.itau.com.br/investimentos/acoes/" target="_blank">
            <img class="logo" src="assets/img/banco-itau-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="http://www.caixa.gov.br/voce/poupanca-e-investimentos/acoes-online/" target="_blank">
            <img class="logo" src="assets/img/caixa-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://banco.bradesco/html/classic/produtos-servicos/investimentos/acoes.shtm" target="_blank">
            <img class="logo" src="assets/img/bradesco-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.santandercorretora.com.br/" target="_blank">
            <img class="logo" src="assets/img/santander-logo.png" alt="logo">
        </a>
    </span> -->
    <span>
        <a href="https://www.bancointer.com.br/pra-voce/investimentos/renda-variavel/" target="_blank">
            <img class="logo" src="assets/img/banco-inter-logo.png" alt="logo">
        </a>
    </span>
    <!-- <span>
        <a href="https://www.xpi.com.br" target="_blank">
            <img class="logo" src="assets/img/xp-investimentos-logo.png" alt="logo">
        </a>
    </span> -->
    <span>
        <a href="https://www.clear.com.br" target="_blank">
            <img class="logo" src="assets/img/clear-corretora-logo.png" alt="logo">
        </a>
    </span>
    <!-- <span>
        <a href="https://www.rico.com.vc" target="_blank">
            <img class="logo" src="assets/img/rico-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.novafutura.com.br" target="_blank">
            <img class="logo" src="assets/img/nova-futura-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.toroinvestimentos.com.br" target="_blank">
            <img class="logo" src="assets/img/toro-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.easynvest.com.br" target="_blank">
            <img class="logo" src="assets/img/easynvest-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.ativainvestimentos.com.br" target="_blank">
            <img class="logo" src="assets/img/ativa-investimentos-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.agorainvestimentos.com.br" target="_blank">
            <img class="logo" src="assets/img/agora-investimentos-logo.png" alt="logo">
        </a>
    </span>
    <span>
        <a href="https://www.modalmais.com.br" target="_blank">
            <img class="logo" src="assets/img/modalmais-logo.png" alt="logo">
        </a>
    </span>    -->
</mat-toolbar>