<h1 mat-dialog-title>Editar transação</h1>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Escolha a data</mat-label>
    <input matInput [matDatepicker]="dayTradeDatepicker" name="dayTradeDay"
        [(ngModel)]="dayTrade.date">
    <mat-datepicker-toggle matSuffix [for]="dayTradeDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #dayTradeDatepicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Papel</mat-label>
    <mat-select [(ngModel)]= "dayTrade.stockSymbol" name="dayTradeSymbol"> 
        <mat-option *ngFor="let s of stocks" [value]="s.symbol">
            {{s.symbol}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Quantidade" type="number"
        [(ngModel)]="dayTrade.amount" name="dayTradeAmount">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Preço de compra"  type="number"
        [(ngModel)]="dayTrade.buyPrice" name="buyPrice">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Preço de venda"  type="number"
        [(ngModel)]="dayTrade.sellPrice" name="sellPrice">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Corretagem" type="number" 
        [(ngModel)]="dayTrade.brokerageFee" name="daTradeBrokerageFee">
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="dayTrade" cdkFocusInitial>Ok</button>
</div>