<mat-card class="mat-elevation-z4">
    <mat-card-title>Nova Transação</mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>Tipo da transação</mat-label>
            <mat-select [(ngModel)]="type" name=type>
                <mat-option *ngFor="let t of types" [value]="t">
                    {{t.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <form id="dayTradeForm" *ngIf="type.id == 'D'">
            <mat-form-field>
                <mat-label>Data</mat-label>
                <input matInput #dayTradeInput readonly [matDatepicker]="dayTradeDatepicker" name="dayTradeDay" (focus)="dayTradeDatepicker.open()"
                    [(ngModel)]="dayTrade.date">
                <mat-datepicker-toggle matSuffix [for]="dayTradeDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #dayTradeDatepicker (closed)="dayTradeInput.blur()"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Papel</mat-label>
                <mat-select [(ngModel)]= "dayTrade.stockSymbol" name="dayTradeTicker"> 
                    <mat-option *ngFor="let s of stocks" [value]="s.ticker">
                        {{s.ticker}} - {{s.company}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Quantidade" type="number"
                    [(ngModel)]="dayTrade.amount" name="dayTradeAmount">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço de compra"  type="number"
                    [(ngModel)]="dayTrade.buyPrice" name="buyPrice">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço de venda"  type="number"
                    [(ngModel)]="dayTrade.sellPrice" name="sellPrice">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Corretagem" type="number" 
                    [(ngModel)]="dayTrade.tradeFee" name="daTradeTradeFee">
            </mat-form-field>
        </form>
        <form id="positionTradeForm" *ngIf="type.id == TRADE_TYPE_KEYS.compra || type.id == TRADE_TYPE_KEYS.venda">
            <mat-form-field>
                <mat-label>Data</mat-label>
                <input matInput #positionTradeInput readonly [matDatepicker]="positionTradeDatepicker" name="positionTradeDate" (focus)="positionTradeDatepicker.open()"
                    [(ngModel)]="positionTrade.date">
                <mat-datepicker-toggle matSuffix [for]="positionTradeDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #positionTradeDatepicker (closed)="positionTradeInput.blur()"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Papel</mat-label>
                <mat-select [(ngModel)]= "positionTrade.stock" name="positionTradeStock"> 
                    <mat-option *ngFor="let s of stocks" [value]="s">
                        {{s.ticker}} - {{s.company}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Corretora</mat-label>
                <mat-select [(ngModel)]= "positionTrade.broker" name="positionTradeBroker"> 
                    <mat-option *ngFor="let b of brokers" [value]="b">
                        {{b.id}} - {{b.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Quantidade" type="number"
                    [(ngModel)]="positionTrade.amount" name="positionTradeAmount">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço"  type="number"
                    [(ngModel)]="positionTrade.price" name="positionTradePrice">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Corretagem" type="number" 
                    [(ngModel)]="positionTrade.tradeFee" name="positionTradeTradeFee">
            </mat-form-field>
        </form>
        
        
        
        
    </form>
    <button mat-raised-button (click)="createTrade()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>